<mat-toolbar>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item>
      <mat-icon>people_outline</mat-icon>
      <span>Connecting</span>
    </button>
    <button mat-menu-item>
      <mat-icon>videocam</mat-icon>
      <span>Let's talk</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  <span>PrNG-UI </span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <app-crud-table></app-crud-table>
    </div>
  </div>
</div>
